################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Sprint/v17/Browse.VC.db
/.vs
/Sprint/x64/Release/Sprint.tlog
/x64/Release
/Sprint/x64/Release
